.error {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.buttons{
    display : flex;
    align-items : center;
    justify-content: center;
}
.btn{
    margin-left: 10px;
}
input{
    width: 300px;
}